# Data brute — trop lourde pour GitHub
data/raw/
*.csv
*.xlsx

# Python
__pycache__/
*.py[cod]
*.pyo
.env
venv/
env/
.venv/

# Jupyter
.ipynb_checkpoints/

# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/

# Les modèles sont versionnés (petits fichiers)
# NE PAS ignorer models/ → ils doivent être sur GitHub
