# Data - ne pas mettre sur GitHub
data/
*.csv
*.xlsx

# Python
__pycache__/
*.py[cod]
*.pyo
.env
venv/
env/
.venv/

# Jupyter Notebooks
.ipynb_checkpoints/

# Models sauvegardés
models/*.pkl
models/*.joblib

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/